<!DOCTYPE html>
<html lang="en">

@{
    Layout = null;
    @model ChatsModel
}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Exider — Chats Page</title>

    <link rel="icon" href="~/images/Icons/logo_3.png">
    <link rel="stylesheet" href="~/css/chats/chats-local.css">
    <link rel="stylesheet" href="~/css/chats/chats-chat.css">
    <link rel="stylesheet" href="~/css/chats/chats-message.css">
    <link rel="stylesheet" href="~/css/chats/message-context-menu.css">
    <link rel="stylesheet" href="~/css/chats/chat-context-menu.css">
    <link rel="stylesheet" href="~/css/chats/chat-header-local.css">
    <link rel="stylesheet" href="~/css/chats/chats-not-select.css">
    <link rel="stylesheet" href="~/css/chats/chat-loader.css">
    <link rel="stylesheet" href="~/css/global-styles/global-styles-chats.css" />
    <link rel="stylesheet" href="~/css/global-styles/left-panel-chats.css" />
    <link rel="stylesheet" href="~/css/global-styles/error-message.css" />
    <link rel="stylesheet" href="~/css/pop-up-windows/pop-up-window-local.css" />
    <link rel="stylesheet" href="~/css/pop-up-windows/pop-up-window-ok-cancel.css" />
    <link rel="stylesheet" href="~/css/pop-up-windows/pop-up-window-stickers.css" />
    <link rel="stylesheet" href="~/css/pop-up-windows/context-menu.css" />

</head>
<body>

    <div class="Body-Wrapper">

        <div class="Left-Panel">
            <div class="Left-Panel-Logo">
                <img src="Images/Logo/zixe_logo_blue.png" draggable="false" alt="Logo">
            </div>
            <div class="Left-Panel-Buttons">
                <div class="Button" id="active" onclick="window.location.href = '/home'">
                    <img src="@((ViewBag.ActiveButton == "home") ?
                        "/images/Buttons/home_active.svg" : "/images/Buttons/home_passive.svg")">
                    <h1>Home</h1>
                    <h1>@ViewBag.LeftPanelData[0]</h1>
                </div>
                <div class="Button" onclick="window.location.href = '/files'">
                    <img src="@((ViewBag.ActiveButton == "files") ?
                        "/images/Buttons/files_active.svg" : "/images/Buttons/files_passive.svg")">
                    <h1>Files</h1>
                    <h1>@ViewBag.LeftPanelData[1]</h1>
                </div>
                <div class="Button" onclick="window.location.href = '/gallery'">
                    <img src="@((ViewBag.ActiveButton == "gallery") ?
                        "/images/Buttons/gallery_active.svg" : "/images/Buttons/gallery_passive.svg")">
                    <h1>Gallery</h1>
                    <h1>@ViewBag.LeftPanelData[2]</h1>
                </div>
                <div class="Button" onclick="window.location.href = '/audio'">
                    <img src="@((ViewBag.ActiveButton == "audio") ?
                        "/images/Buttons/audio_active.svg" : "/images/Buttons/audio_passive.svg")">
                    <h1>Audio</h1>
                    <h1>@ViewBag.LeftPanelData[3]</h1>
                </div>
                <div class="Button" onclick="window.location.href = '/friends'">
                    <img src="@((ViewBag.ActiveButton == "friends") ?
                        "/images/Buttons/friends_active.svg" : "/images/Buttons/friends_passive.svg")">
                    <h1>Friends</h1>
                    <h1>@ViewBag.LeftPanelData[4]</h1>
                </div>
                <div class="Button" onclick="window.location.href = '/chats'">
                    <img src="@((ViewBag.ActiveButton == "chats") ?
                        "/images/Buttons/chats_active.svg" : "/images/Buttons/chats_passive.svg")">
                    <h1>Chats</h1>
                    <h1>@ViewBag.LeftPanelData[5]</h1>
                </div>
                <div class="Button" onclick="window.location.href = '/profile'">
                    <img src="@((ViewBag.ActiveButton == "profile") ?
                        "/images/Buttons/profile_active.svg" : "/images/Buttons/profile_passive.svg")">
                    <h1>Profile</h1>
                </div>
            </div>
            <div class="Left-Panel-Storage_Space">
                <div class="Progress-Bar">
                    <div class="Progress-Bar-Line"></div>
                </div>
            </div>
        </div>
        <div class="Main-Content-Wrapper">

            <div class="main-content-header">

                <div class="main-content-header-button">
                    <img src="Images/Home/back.png" alt="back">
                </div>
                <div class="main-content-header-button">
                    <img src="Images/Home/next.png" alt="next">
                </div>
                <div class="main-content-header-search">
                    <img src="Images/Home/search.png">
                    <input type="text" placeholder="Search chats, people, messages" autocomplete="off">
                </div>
                <div class="main-content-header-button-wrapper">
                    <div class="main-content-header-button-right">
                        <img src="Images/Home/feed.png" class="main-content-header-button-image">
                    </div>
                    <div class="main-content-header-button-right">
                        <img src="Images/Home/notification.png" class="main-content-header-button-image">
                    </div>
                </div>
                <div class="header-avatar">

                    @if (ViewBag.currentUser != null && ViewBag.currentUser.Avatar != null)
                    {
                        <img src="data:image/png;base64,@(Convert.ToBase64String(ViewBag.currentUser.Avatar))" class="main-content-header-avatar">
                    }

                </div>

            </div>

            <div class="right-content">

                <div class="Chats">

                    <div class="chats-header">
                        <div class="chat-header-switch">
                            <span id="active">All</span>
                            <span>Chats</span>
                            <span>Groups</span>
                            <span>AI</span>
                        </div>
                        <div class="write-message chats-header-button">
                            <img src="Images/Chats/write.png">
                        </div>
                    </div>

                    <div id="all-chats">



                    </div>

                </div>

                <div class="Chat">

                    <div class="Chat-Wrapper" id="chat">

                        <div class="chat-loader" id="passive">
                            <img src="Images/Chats/loader.gif" alt="">
                        </div>

                        <div class="Chat-Header" id="passive">
                            <div class="Chat-Header-MinDesc">
                                <img src="" id="chat-avatar">
                                <h1>Not Select</h1>
                            </div>
                            <div class="Header-Options">
                                <img src="Images/Chats/search.png" alt="">
                                <img src="Images/Chats/info.png" alt="">
                            </div>
                        </div>

                        <div class="chat-not-select" id="active">
                            <img src="Images/Chats/chat-not-select-3.png" alt="">
                            <span>No chats selected</span>
                        </div>

                        <div class="Chat-Content" id="all-messages">

                        </div>

                    </div>

                    <div class="Chat-Input" id="passive">
                        <div class="pop-up-window-stickers" id="passive">
                            <div class="chat-header-switch" id="stickers">
                                <span id="active">Emoji</span>
                                <span>Stickers</span>
                                <span>Gifs</span>
                            </div>
                            <div class="stickers">
                                <span>Most Popular</span>
                                <div class="sticker-content" id="emoji">
                                    <div class="smile">❤️</div>
                                    <div class="smile">🔥</div>
                                    <div class="smile">😂</div>
                                    <div class="smile">👏</div>
                                    <div class="smile">🤣</div>
                                    <div class="smile">😎</div>
                                </div>
                                <span>Smileys</span>
                                <div class="sticker-content" id="emoji">
                                    <div class="smile">😄</div>
                                    <div class="smile">😁</div>
                                    <div class="smile">😆</div>
                                    <div class="smile">😅</div>
                                    <div class="smile">😂</div>
                                    <div class="smile">🤣</div>
                                    <div class="smile">😊</div>
                                    <div class="smile">😇</div>
                                    <div class="smile">🙂</div>
                                    <div class="smile">🙃</div>
                                    <div class="smile">😉</div>
                                    <div class="smile">😌</div>
                                    <div class="smile">😍</div>
                                    <div class="smile">🥰</div>
                                    <div class="smile">😘</div>
                                    <div class="smile">😗</div>
                                    <div class="smile">😙</div>
                                    <div class="smile">😚</div>
                                    <div class="smile">😋</div>
                                    <div class="smile">😛</div>
                                    <div class="smile">😝</div>
                                    <div class="smile">😜</div>
                                    <div class="smile">🤪</div>
                                    <div class="smile">🤨</div>
                                    <div class="smile">🧐</div>
                                    <div class="smile">🤓</div>
                                    <div class="smile">😎</div>
                                    <div class="smile">🤩</div>
                                    <div class="smile">🥳</div>
                                    <div class="smile">😏</div>
                                    <div class="smile">😒</div>
                                    <div class="smile">😞</div>
                                    <div class="smile">😔</div>
                                    <div class="smile">😟</div>
                                    <div class="smile">😕</div>
                                    <div class="smile">🙁</div>
                                    <div class="smile">☹️</div>
                                    <div class="smile">😣</div>
                                    <div class="smile">😖</div>
                                    <div class="smile">😫</div>
                                    <div class="smile">😩</div>
                                    <div class="smile">🥺</div>
                                    <div class="smile">😢</div>
                                    <div class="smile">😭</div>
                                    <div class="smile">😮‍💨</div>
                                    <div class="smile">😤</div>
                                    <div class="smile">😠</div>
                                    <div class="smile">😡</div>
                                    <div class="smile">🤬</div>
                                    <div class="smile">🤯</div>
                                    <div class="smile">😳</div>
                                    <div class="smile">🥵</div>
                                    <div class="smile">🥶</div>
                                    <div class="smile">😱</div>
                                    <div class="smile">😨</div>
                                    <div class="smile">😰</div>
                                    <div class="smile">😥</div>
                                    <div class="smile">😓</div>
                                    <div class="smile">🤗</div>
                                    <div class="smile">🤔</div>
                                    <div class="smile">🤭</div>
                                    <div class="smile">🤫</div>
                                    <div class="smile">🤥</div>
                                    <div class="smile">😶</div>
                                    <div class="smile">😶‍🌫️</div>
                                    <div class="smile">😐</div>
                                    <div class="smile">😑</div>
                                    <div class="smile">😬</div>
                                    <div class="smile">🙄</div>
                                    <div class="smile">😯</div>
                                    <div class="smile">😦</div>
                                    <div class="smile">😧</div>
                                    <div class="smile">😮</div>
                                    <div class="smile">😲</div>
                                    <div class="smile">🥱</div>
                                    <div class="smile">😴</div>
                                    <div class="smile">🤤</div>
                                    <div class="smile">😪</div>
                                    <div class="smile">😵</div>
                                    <div class="smile">😵‍💫</div>
                                    <div class="smile">🤐</div>
                                    <div class="smile">🥴</div>
                                    <div class="smile">🤢</div>
                                    <div class="smile">🤮</div>
                                    <div class="smile">🤧</div>
                                    <div class="smile">😷</div>
                                    <div class="smile">🤒</div>
                                    <div class="smile">🤕</div>
                                    <div class="smile">🤑</div>
                                    <div class="smile">🤠</div>
                                    <div class="smile">😈</div>
                                    <div class="smile">👿</div>
                                    <div class="smile">👹</div>
                                    <div class="smile">👺</div>
                                    <div class="smile">🤡</div>
                                    <div class="smile">💩</div>
                                    <div class="smile">👻</div>
                                    <div class="smile">💀</div>
                                    <div class="smile">☠️</div>
                                    <div class="smile">👽</div>
                                    <div class="smile">👾</div>
                                    <div class="smile">🤖</div>
                                    <div class="smile">🎃</div>
                                    <div class="smile">😺</div>
                                    <div class="smile">😸</div>
                                    <div class="smile">😹</div>
                                    <div class="smile">😻</div>
                                    <div class="smile">😼</div>
                                    <div class="smile">😽</div>
                                    <div class="smile">🙀</div>
                                    <div class="smile">😿</div>
                                    <div class="smile">😾</div>
                                </div>
                                <span>Gestures and Body Parts</span>
                                <div class="sticker-content" id="emoji">
                                    <div class="smile">👋</div>
                                    <div class="smile">🤚</div>
                                    <div class="smile">🖐</div>
                                    <div class="smile">✋</div>
                                    <div class="smile">🖖</div>
                                    <div class="smile">👌</div>
                                    <div class="smile">🤌</div>
                                    <div class="smile">🤏</div>
                                    <div class="smile">✌️</div>
                                    <div class="smile">🤞</div>
                                    <div class="smile">🤟</div>
                                    <div class="smile">🤘</div>
                                    <div class="smile">🤙</div>
                                    <div class="smile">👈</div>
                                    <div class="smile">👉</div>
                                    <div class="smile">👆</div>
                                    <div class="smile">🖕</div>
                                    <div class="smile">👇</div>
                                    <div class="smile">☝️</div>
                                    <div class="smile">👍</div>
                                    <div class="smile">👎</div>
                                    <div class="smile">✊</div>
                                    <div class="smile">👊</div>
                                    <div class="smile">🤛</div>
                                    <div class="smile">🤜</div>
                                    <div class="smile">👏</div>
                                    <div class="smile">🙌</div>
                                    <div class="smile">👐</div>
                                    <div class="smile">🤲</div>
                                    <div class="smile">🤝</div>
                                    <div class="smile">🙏</div>
                                    <div class="smile">✍️</div>
                                    <div class="smile">💅</div>
                                    <div class="smile">🤳</div>
                                    <div class="smile">💪</div>
                                    <div class="smile">🦾</div>
                                    <div class="smile">🦵</div>
                                    <div class="smile">🦿</div>
                                    <div class="smile">🦶</div>
                                    <div class="smile">👣</div>
                                    <div class="smile">👂</div>
                                    <div class="smile">🦻</div>
                                    <div class="smile">👃</div>
                                    <div class="smile">🧠</div>
                                    <div class="smile">🦷</div>
                                    <div class="smile">🦴</div>
                                    <div class="smile">👀</div>
                                    <div class="smile">👁</div>
                                    <div class="smile">👅</div>
                                    <div class="smile">👄</div>
                                    <div class="smile">💋</div>
                                </div>
                            </div>
                        </div>
                        <div class="Reply">
                            <div class="Reply-Content">
                                <span></span>
                                <p></p>
                            </div>
                            <img src="images/Chats/exit.png" class="close-reply" />
                        </div>
                        <div class="chat-typing-notification">
                            <span>Jenna is typing</span>
                            <div class="typing-point" id="p-1"></div>
                            <div class="typing-point" id="p-2"></div>
                            <div class="typing-point" id="p-3"></div>
                        </div>
                        <form enctype="multipart/form-data" autocomplete="off" id="send-message">
                            <div class="chat-entry-field">
                                <div class="chat-entry-field-button">
                                    <img src="Images/Chats/plus.png">
                                </div>
                                <div contenteditable="true" id="message-text" placeholder="Enter your message"></div>
                                <div class="chat-entry-field-button smile-button" id="right" onclick="EmojiWindow.ChangeDisplay()">
                                    <img src="Images/Chats/smile.svg">
                                </div>
                                <div class="chat-entry-field-button" id="right">
                                    <img src="Images/Chats/voice-message-2.png">
                                </div>
                            </div>
                            <div class="button">
                                <img src="Images/Chats/send.png">
                                <input type="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/global-logic/client-db-interface.js"></script>
    <script src="~/js/chats/chat-userhub-cor.js"></script>
    <script src="~/js/chats/chats-user-hub-interface.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chats/chats-rendering-chats.js"></script>
    <script>

        var element = document.getElementById('chat');
        element.style.scrollBehavior = 'smooth';
        element.scrollTop = element.scrollHeight;

        window.addEventListener('click', (event) => {

            let isReplyMessage = event.target.className == 'Reply-Message-Header' ||
                event.target.closest('.Reply-Message-Header');

            if (isReplyMessage) {

                const replyMessageHeader = event.target
                    .closest('.Reply-Message-Header');

                if (replyMessageHeader) {

                    const messageId = replyMessageHeader
                        .getAttribute('data-message-id');

                    let message = document
                        .querySelector(`[data-message-id="${messageId}"]`);

                    message.scrollIntoView({ block: "center", behavior: "smooth" });
                    message.style.background = '#eef';

                    setTimeout(() => {
                        message.style.background = 'white';
                    }, 2000);

                }

            }

        });

        console.log("%cStop! Copyright © 2023 Andreev S. Minsk, Belarus", "color: red; font-size: 25px; font-weight: bold");
        console.log("%cThis is a tool intended for developers only! We are not responsible for your lost data. Do not provide the information you see here to anyone. Do not attempt to commit a cyber crime, it is punishable by law!", "font-size: 18px;");

        function saveDataToIndexedDB(data) {

            indexedDB.deleteDatabase('Messenger', 1);
            const request = indexedDB.open('Messenger', 1);

            request.onupgradeneeded = function (event) {

                const db = event.target.result;

                db.createObjectStore('chats', { keyPath: 'chat_id' });
                db.createObjectStore('dialogues', { keyPath: 'chat_id' });
                db.createObjectStore('messages', { keyPath: 'id' });
                db.createObjectStore('users', { keyPath: 'root' });

            };

            request.onsuccess = function (event) {

                const db = event.target.result;
                const transaction = db.transaction(['chats', 'dialogues', 'users'], 'readwrite');
                const chatsStore = transaction.objectStore('chats');
                const dialoguesStore = transaction.objectStore('dialogues');
                const usersStore = transaction.objectStore('users');

                data.chats.forEach(chat => chatsStore.put(chat));
                data.dialogues.forEach(dialogue => dialoguesStore.put(dialogue));
                data.users.forEach(user => usersStore.put(user));

                transaction.onerror = function (event) {
                    console.error('Error saving data:', event.target.error);
                };

            };

            request.onerror = function (event) {
                console.error('Error opening database:', event.target.error);
            };

        }

        var modelData = @Html.Raw(Json.Serialize(Model));

        saveDataToIndexedDB(modelData);
        ChatRendering.RenderChats(modelData);

    </script>

    <!-- Popup Windows -->

    <script src="~/js/pop-up-window/pop-up-window-stickers.js"></script>
    <script src="~/js/pop-up-window/menu.js"></script>
    <script src="~/js/pop-up-window/context-menu.js"></script>
    <script src="~/js/pop-up-window/message-context-menu.js"></script>

    <!-- Local Logic -->

    <script src="~/js/chats/chats-local.js"></script>
    <script src="~/js/chats/chats-create.js"></script>
    <script src="~/js/chats/chats-input.js"></script>

    <!-- Message Context Menu -->

    <script src="~/js/chats/chats-reply-message.js"></script>
    <script src="~/js/chats/chats-edit-message.js"></script>

    <!-- Forward Message Logic (In hierarchical order) -->

    <script src="~/js/pop-up-window/pop-up-window.js"></script>
    <script src="~/js/pop-up-window/new-message.js"></script>
    <script src="~/js/pop-up-window/create-group.js"></script>
    <script src="~/js/pop-up-window/forward-message.js"></script>

    <!-- Delete Messsage -->

    <script src="~/js/pop-up-window/ok-cancel.js"></script>

    <!-- Error MessageBox -->

    <script src="~/js/global-logic/pop-up-error-message.js"></script>

</body>
</html>